.fade-to-left {
  animation: fadeToLeft 0.7s ease both;
}

.fade-from-left {
  animation: fadeFromLeft 0.7s ease both;
}

@keyframes fadeToLeft {
  to {
    transform: translateX(-100%);
    opacity: 0.3;
  }
}

@keyframes fadeFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
}
